<section class="content-about">

  <div class="jumbotron" id="about-hero">
	<%= image_tag("about1.jpg", class: "img-responsive about-image") %>
  </div> <!-- end contact image -->

  <header class="about-header">
    <h3>About</h3>
  </header> <!-- end header -->

  <div class="about-main">
	<p>Hi, my name is Catz and I’m the founder of CaTz-CreaTionz which started way back in 2009. I’m pleased to announce our new line of natural bodycare <%= link_to 'products', products_url %> which are now also available in Germany.<br>
	<br>All our products are handcrafted, 100% natural, with no additives or colourants and using only natural preservatives.<br>
	<br>Since my teens I knew that I wanted to have a homestead one day where I could be self-sufficient, eat healthy natural home-grown foods and let nature provide me with everything I need to follow a healthy natural life-style.<br>
	<br>It was only natural that in my quest to become self-sufficient that I would also start learning to make natural skincare and homecare products too. It all started with making soap, and once that was done, there was just no stopping me! I started making mouth-care, skin care, hair-care, beauty and home-care products. I use all my own products and offered them to my friends to try so I know that what I put out there is really working and of the highest quality. Catz-CreaTionz was born due to the overwhelming response I had to my products from my friends who are all now my best customers as well.<br>
	<br>On a personal level, my husband Nick had some difficult skin issues (severely dry and itchy rashes) and no matter what commercial products he used it just did not make the problem disappear. Conventional medicine, creams and drugs were just not working!! After some convincing he decided to try some of the cream that I had made and just like that he was in love with my cream!! He nicknamed it <%= link_to "Mama Kraus’s Miracle Cream", product_path(3) %> as within a period of 2-3 weeks of applying the cream every evening all his skin problems just disappeared and have never re-surfaced again. He is your typical macho man who does not like creams on his legs or face as they always seem to be ‘sticky’, but the Miracle cream does not have this problem and without any convincing on my part he is now using this cream all over his body and face!!<br>
	<br>At Catz-CreaTionz we only use high quality natural ingredients in our products. We also only use glass containers as this is re-usable and recyclable to save our environment from further pollution. We only make the products when they are ordered and will normally get them to you within 3-5 days. This way the ingredients are always fresh, and you know that the products have not been sitting on a shelf for weeks or months.<br>
	<br>We offer very affordable prices and gram for gram our products cost 30-60% less than the mainstream health sites and other natural health stores.<br>
	<br>I truly believe that once you have tried our range you will be back for more.<br>
	<br>Catz Kraus<br>
	<br>Founder and owner
	</p>
  </div> <!-- end main -->

</section> <!-- end about section -->
