<section class="content-contact">

  <div class="jumbotron" id="contact-hero">
	<%= image_tag("contact1.jpg", class: "img-responsive contact-image") %>
  </div> <!-- end contact image -->

  <header class="contact-header">  	
    <h3>Get in touch</h3>
  </header> <!-- end header -->

  <div class="contact-main">
	<p>We would love to hear from you so please get in touch with us.
	<br>We will get back to you as soon as possible, usually within one working day.</p>
	<h4>Email us</h4>
	  <p>catz@catz-creationz.com</p>
	<h4>Call us</h4>
	  <p>If you are calling from Germany, you can call us on  0261 280714
	  	<br>If you are calling us from outside Germany, dial +49 261 280714<br>
	  	<br>Monday – Friday
	  	<br>9.30am – 5.00pm GMT
	  </p>
	<h4>Write to us</h4>
	  <p>Catherine Kraus
	  	<br>Am Brünnchen 2
	  	<br>56072 Koblenz
	  	<br>Germany<br>
	  </p>
  </div> <!-- end contact main -->

</section> <!-- end contact section -->