<section class="content-landing-page">
  <div class="landing-page-main">
  	<h2>Why you should use natural skin care products</h2>
    <h5>Chemicals, artificial colors, and fillers in skin care products can cause redness, irritation, and breakouts. Many people are even allergic to chemicals commonly found in conventionally produced products. Products with natural ingredients ultimately provide several advantages for our skin, body, well-being, and the environment. Using natural skincare products will not only give you peace of mind, but it is also better for your skin.</h5>

    <div class="container-fluid landing-page-featured_product">
         
      <div class="row landing-page-row">
        <div class="col-xs-6 col-sm-6 col-lg-4 col-xl-4 landing-page-image-col">
          <h3> Featured Product </h3>
          <%= image_tag(@featured_product.image_url, class: "img-fluid landing-page-image") %> 
	    </div> <!-- end col landing page pic-->
	    <div class="col landing-page-col">
	      <h5><%= @featured_product.name %></h5>
	      <p><%= @featured_product.long_description %></p>
	    </div> <!-- end col landing page details -->
	  </div> <!-- end row -->
    </div> <!-- end container featured_product -->
  </div> <!-- end container main -->
</section> <!-- end section landing page -->