<section class="content-thank-you">

  <div class="jumbotron" id="thank-you-hero">
  <%= image_tag("thankyou.jpg", class: "img-responsive thank-you-image") %>
  </div> <!-- end contact image -->

  <div class="panel panel-default">
    <div class="panel-body">
      <p>Thank you for your order. We will be in touch soon regarding the delivery of your order.</p>
    </div><!-- / panel-body -->
    <p><%= link_to 'Back to products', products_path, class: "btn btn-outline-secondary" %></p>
  </div><!-- / panel -->

</section>
