// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$primary-font-stack: Helvetica, sans-serif;
$primary-color: #8962b3; // purple
$complement-color: #99cc66; // green
$grayscale-color: bebebe;
$font-color: #34495e;

body {
  background-color: white;
  color: $font-color !important;
  font: 100% $primary-font-stack;
  line-height: 1.5em;
}

//product-overview

.content-products-overview {
  width: 90%;
  margin: 0 auto;
  margin-top: 5.5em;
  margin-bottom: 1em;
}

.products-overview-header {
  padding-left: 1em;
  padding-right: 1em;
}

.col-product {
  border: medium solid $primary-color;
  border-radius: 15px;
  background-clip: padding-box;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-top: .7em;
  padding-bottom: 1em;
}

.product-img {
  border-radius: 15px;
  padding: .2em;
}

.products-overview-main h5 {
  color: $primary-color;
  padding: 1em;
}

.products-overview-main p {
  padding: 1em;
}

.products-overview-main strong {
  padding: 1em;
}

.products-overview-main a:hover {
  text-decoration: none !important;
  color: $complement-color !important;
}

//end products-overview

//product-new

.content-new-product {
  width: 80%;
  margin: 0 auto;
  padding: 0;
  margin-top: 5.5em;
  margin-bottom: 1em;
}

//end products-new

// products form

.container-fluid-form h5 {
  margin-bottom: .2 !important;
  line-height: .5em !important;
}

.form-control * {
  width: 100%;
}

.product-form {
 margin-bottom: 2em;
}

//end products form

//product show

.content-show-product {
  width: 90% !important;
  margin: 0 auto;
  margin-top: 6em !important;
  margin-bottom: 1em;
}

.content-show-product h5 {
  padding: 1em;
  font-weight: bold;
}

.content-show-product p {
  padding: 0 1em;
}

.show-image-col {
  padding-top: 2em;
}

.product-show-image {
  border-radius: 15px;
  padding: .5em;
}

.show-product-row {
  border: medium solid $primary-color;
  border-radius: 15px;
}

//end product show

