$primary-font-stack: Helvetica, sans-serif;
$primary-color: #8962b3; // purple
$complement-color: #99cc66; // green
$grayscale-color: bebebe;
$font-color: #34495e;


//product-new

.content-new-product {
  width: 90%;
  margin: 0 auto;
  padding: 0;
  margin-top: 5.5em;
  margin-bottom: 1em;
}

//end products-new

//product show

.content-show-product {
  width: 80%;
  margin: 0 auto;
  margin-top: 7em;
  margin-bottom: 1em;
}

//end product show