// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$primary-font-stack: Helvetica, sans-serif;
$primary-color: #8962b3; // purple
$complement-color: #99cc66; // green
$grayscale-color: bebebe;
$font-color: #34495e;

body {
  background-color: white;
  color: $font-color;
  font: 100% $primary-font-stack;
  line-height: 1.5em;
}

//Navigation

.navbar {
  width: 100%;
  background-color: white !important;
}

.logo-image {
  max-height: 3.4em;
  width: auto;
}

.navbar-brand {
  color: $primary-color !important;
}

navbar-brand a:hover {
  color: $complement-color !important;
}

nav li a {
  color: $primary-color !important;
  padding-left: 1.5em;  
}

nav li a:hover {
  color: $complement-color !important;
  text-decoration: none;
  padding: 1.2em;
  transition: color 500ms ease;
  -webkit-transition: 500ms ease;
}

//end navigation

//footer

.footer-section {
  background-color: $primary-color;
  color: white;
  display: flex;
  justify-content: center;
  align-content: center;
}

.footer-copyright p {
  text-align: center;
  margin: 0;
  padding: 1em;
}

//end footer

//home

.content-home {
  width: 80%;
  margin: 0 auto;
}

#home-hero {
  padding: 0;
  margin-top: 5.5em;
  margin-bottom: 1em;
}

.home-image {
  width: 100%;
}

.home-header {
  padding-left: 1em;
  padding-right: 1em;
}

.home-main {
  padding: 1em;
}

//end home

//about

.content-about {
  width: 80%;
  margin: 0 auto;
}

#about-hero {
 padding: 0;
 margin-top: 5.5em;
 margin-bottom: 1em;
}

.about-image {
  width: 100%;
}

.about-header {
  padding-left: 1em;
  padding-right: 1em;
}

.about-main {
  padding: 1em;
}

//end about

//contact

.content-contact {
  width: 80%;
  margin: 0 auto;
}

#contact-hero {
  padding: 0;
  margin-top: 5.5em;
  margin-bottom: 1em;
}

.contact-image {
  width: 100%;
}

.contact-header {
  padding-left: 1em;
  padding-right: 1em;
}

.contact-main {
  padding: 1em;
}

//end contact

//landing page

.content-landing-page {
  width: 80%;
  margin: 0 auto;
}

.landing-page-main {
  margin-top: 6em;
  margin-bottom: 1em;
}

.landing-page-row {
  border: medium solid $primary-color;
  border-radius: 15px;
}

.landing-page-featured_product h5 {
  padding: .5em;
  font-weight: bold;
}

.landing-page-featured_product h3 {
  padding-top: .1em;
  padding_bottom: .5em;
}

.landing-page-main h5 {
  padding: .5em;
}

.landing-page-image-col {
  padding-top: .5em;
}

.landing-page-image {
  border-radius: 15px;
  padding: .2em;
}

//end product show