// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$primary-font-stack: Helvetica, sans-serif;
$primary-color: #8962b3; // purple
$complement-color: #99cc66; // green
$grayscale-color: bebebe;
$font-color: #34495e;

//user new

.content-user {
  width: 90%;
  margin: 0 auto;
  margin-top: 6em;
  margin-bottom: 1em;
}

.sign-in {
  width: 40% !important;
  margin: 0 auto;
  margin-bottom: 2em;
}

.md-form {
  margin-bottom: .5em;
}

.form-elegant .font-small {
  font-size: 0.8rem;
}

.form-elegant .z-depth-1a {
  -webkit-box-shadow: 0 2px 5px 0 rgba(137, 98, 179, 0.26), 0 4px 12px 0 rgba(137, 98, 179, 0.25);
  box-shadow: 0 2px 5px 0 rgba(137, 98, 179, 0.26), 0 4px 12px 0 rgba(137, 98, 179, 0.25);
}

.form-elegant .z-depth-1-half,
.form-elegant .btn:hover {
  -webkit-box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15);
  box-shadow: 0 2px 5px 0 rgba(87, 37, 167, 0.83), 0 4px 12px 0 rgba(121, 155, 254, 0.25);
}

.btn{
  box-shadow: 0 2px 5px 0 rgba(87, 37, 167, 0.26), 0 4px 12px 0 rgba(87, 37, 167, 0.25);
  -webkit-box-shadow: 0 2px 5px 0 rgba(87, 37, 167, 0.26), 0 4px 12px 0 rgba(87, 37, 167, 0.25);
}

.btn :hover{
  -webkit-box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15);
  box-shadow: 0 2px 5px 0 rgba(87, 37, 167, 0.83), 0 4px 12px 0 rgba(121, 155, 254, 0.25);
}
