<div class="product-new-reviews">
  <% if signed_in? %>
    <div class="row show-comments">
      <div class="col show-comments-col">
        <div class="text-left">
          <p><strong>Add a review</strong></p>
        </div>
        <%= form_for([@product, @product.comments.build]) do |f| %>
        <div class="md-form">
          <%= f.text_area :body, class: "form-control", placeholder: "Please write your review here", rows: "5" %>
        </div>
        <div class="rating"></div>
        <%= f.submit "Submit", class: "btn btn-outline-secondary" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
