<section class="content-products-overview">
 <p id="notice"><%= notice %></p>
  <header class="products-overview-header">
    <h3>Products</h3>
  </header> <!-- end header -->

  <div class="container-fluid products-overview-main">
    <div class="row products-overview">
      <% cache(cache_key_for_products) do %>
        <%= render @products %>
      <% end %>
    </div> <!-- end row -->
  </div> <!-- end container products-overview -->

    <% if signed_in? && current_user.admin? %>
      <%= link_to 'New Product', new_product_path, class: "btn btn-secondary" %>
    <% end %>

</section> <!-- end section products-overview -->
