<section class="content-new-product">

  <h3>New Product</h3>

  <%= render 'form', product: @product %>
  <br>
  <p><%= link_to 'Back to products', products_path, class: "btn btn-outline-secondary" %></p>

</section>
